
.godot/editor/editor_layout.cfg
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
